<p>
    <div class="row marketing">        
        Kheo is an agentless application dedicated to servers management, including softwares inventory, os and network informations.

        Kheo relies on SSH to communicate with the servers to manage so it does not need any specific configuration. As a constraint, it needs a key to contact remote hosts.

        To register servers, you have many solutions:
        <ul>
            <li>Using an inventory file just like Ansible does.</li>
            <li>Using the API</li>
            <li>Using the webapp</li>
        </ul>

        Once your servers have been registered, you can obtain informations like:
        <ul>
            <li>Network interfaces and IP</li>
            <li>OS type and version</li>
            <li>Users</li>
            <li>Resources (ram, disk, cpu, ...)</li>
            <li>Running processes</li>
            <li>Installed packages</li>
        </ul>
    </div>

    <div class="row marketing">
        Kheo is build with the following technologies:

        <h4>MongoDB</h4>
        <p>MongoDB is an open-source document database, and the leading NoSQL database.</p>

        <h4>AngularJS</h4>
        <p>MVW framework to build client side single page applications.</p>

        <h4>Dropwizard</h4>
        <p>Dropwizard pulls together stable, mature libraries from the Java ecosystem into a simple, light-weight package that lets you focus on getting things done.</p>
    </div>
</p>
