<tabset>  
  <tab heading="Informations">
    <div role="panel panel-default">
      <div role="panel-heading">Connection settings</div>
      <div role="form">
        <div class="form-group">
          <label class="control-label" for="host">Host</label>
          <label id="host" type="text" class="form-control">{{server.host}}</label>
        </div>  
        <div class="form-group">
          <label class="control-label" for="user">User</label>
          <label id="user" type="text" class="form-control">{{server.user}}</label>
        </div>
        <div class="form-group">
          <label class="control-label" for="ssh-port">Port</label>
          <label id="ssh-port" type="text" class="form-control">{{server.sshPort}}</label>
        </div>
        <div class="form-group">     
          <label class="control-label" for="sudo">Sudo</label>  
          <input id="sudo" type="checkbox" ng-model="server.sudo" disabled="true"/>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="Discovery">
    <div class="panel panel-default">      
      <div class="form-group" ng-repeat="key in getKeys(server.discoverySettings)">
        <label class="control-label" for="{{key}}">{{key}}</label>
        <input id="{{key}}" type="checkbox" ng-model="server.discoverySettings[key]" disabled="true"/>
      </div>
    </div>
  </tab>
  <tab ng-repeat="plugin in plugins" heading="{{plugin.name}}" select="filterPluginProperties(plugin)" ng-show="server.discoverySettings[plugin.name] === true">    
    <div role="form">
      <div class="panel panel-default" ng-repeat="property in pluginProperties">
        <div class="panel-heading">{{property.key}}</div>
        <div class="form-group" ng-repeat="key in getKeys(property)">
          <label class="control-label" for="{{property.key}}{{key}}">{{key}}</label>
          <input class="form-control" id="{{property.key}}{{key}}" disabled="true" type="text" ng-model="property[key]" />          
        </div>
      </div>
    </div>
  </tab>  
</tabset>