<div>
    <a href="#/servers/new" class="btn btn-default btn-block">Create</a>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover table-condensed table-truncate">
        <thead>
            <tr>
                <th>Host</th>
                <th>User</th>
                <th>Port</th>
                <th>Connectivity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="server in servers">
                <td>{{server.host}}</td>
                <td>{{server.user}}</td>
                <td>{{server.sshPort}}</td>
                <td ng-show="{{server.sshConnectionValidity === true}}">
                    <span class="glyphicon glyphicon-ok"></span>
                </td>
                <td ng-show="{{server.sshConnectionValidity === false}}">
                    <span class="glyphicon glyphicon-remove"></span>
                </td>
                <td>
                  <div>
                    <a ng-href="#/servers/{{server.host}}/detail">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                    <a ng-href="#/servers/{{server.host}}/edit">
                      <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <span class="glyphicon glyphicon-remove" ng-click="delete(server.host)"></span>
                  </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>