<div class="table-responsive">    
    <table class="table table-striped table-hover table-condensed table-truncate">
        <thead>
            <tr>
                <th>Host</th>
                <th>User</th>
                <th>Password</th>
                <th>Key</th>
                <th>Ram</th>
                <th>Cpu</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="server in servers">
                <td>{{server.hostname}}</td>
                <td>{{server.user}}</td>
                <td>{{server.password}}</td>
                <td>{{server.privateKey}}</td>
                <td>{{server.ram}}</td>
                <td>{{server.password}}</td>
            </tr>
        </tbody>
    </table>
</div>