<form role="form">
  <div class="form-group">
    <label class="control-label" for="host">Host</label>
    <input id="host" type="text" class="form-control" ng-model="server.host" />
  </div>  
  <div class="form-group">
    <label class="control-label" for="user">User</label>
    <input id="user" type="text" class="form-control" ng-model="server.user" />
  </div>
  <div class="form-group">
    <label class="control-label" for="password">Password</label>
    <input id="password" type="password" class="form-control" ng-model="server.password" />
  </div>  
  <div class="form-inline">
    <label class="control-label" for="sshPort">Port</label>
    <input id="password" type="text" class="form-control" ng-model="server.sshPort" />        
  </div>
  <div class="form-group">
    <label class="control-label" for="password">Sudo</label>
    <input id="sudo" type="checkbox" ng-model="server.sudo" />
  </div>
  <div class="row">
    <button id="submit" class="btn btn-block" ng-click="save()">Save</button>
    <a class="btn btn-block col-md-6" href="#/servers">Cancel</a>      
  </div>
</form>